
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Atendimento estrangeiro</title>
    <link rel="shortcut icon" href="~/Content/Imagens/Logo Lavi.png">
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/AtendimentoEspecial/TelaBuscaPaciente.js"></script>

</head>
<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi.png" width="50" height="50" />

        </div>
    </div>
    <div class="container">
        <h1 class="h1">@View.Resources.Resource.VocêPossuiCadastro</h1>
        <!--início info verde-->
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading text-center">@View.Resources.Resource.Informacao</h4>
            <p class="text-center">@View.Resources.Resource.InfoBusca</p>
            <hr>
        </div>
        <!--fim info verde-->
        <br />
        <div class="row pl-3">

            <label for="campo-nome" class="font-weight-bold">@View.Resources.Resource.DigiteSeuNomePesquisar</label>
        </div>
        <div class="row">
            <div class="col-10">
                <input id="campo-nome" name="nome" class="form-control border-info" type="text" />
            </div>
            <div class="col-2">
                <button class="btn btn-info float-right" id="botao">@View.Resources.Resource.Proximo <i class="fa fa-forward "></i></button>
            </div>
        </div>

        <br />

        <table id="tabela" class="table table-striped">
            <thead class="bg-dark text-white">
                <tr>
                    <th>@View.Resources.Resource.Nome</th>
                    <th>@View.Resources.Resource.Acao</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <a href="/atendimentoespecial/cadastropacienteespecial" class="btn btn-info text-white float-right mt-3 mb-5"><i class="fa fa-exclamation-circle"></i> @View.Resources.Resource.NaoTenho</a>
    </div>

    <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
    <script href="~/Scripts/Tema/global/vendor/jquery/jquery.min.js"></script>
</body>
</html>
