<head>
    <link rel="stylesheet" href="~/Scripts/AtendimentoEspecial/BotoesCorpoHover.css" />
</head>
<div id="modal-sintoma" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Titulo da modal-->
            <div class="modal-header">

                <h2>@View.Resources.Resource.Sintoma</h2>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="text" hidden="hidden" name="id" />
                <div>
                    <label for="sintoma" class="font-weight-bold">@View.Resources.Resource.SelecioneSintoma</label>
                    <div class="col-12">

                        <select class="form-control border-info text-dark" style="width: 100%" name="idSintoma" id="sintoma">
                            <option disabled="disabled" selected="selected">@View.Resources.Resource.SelecioneSintoma</option>
                        </select>
                    </div>

                </div>

                @*<div>
                        <label class="font-weight-bold">@View.Resources.Resource.NivelDor</label>
                        <select class="form-control border-info text-dark" id="nivelDor" required="" name="nivelDor">
                            <option selected="selected" disabled="disabled">@View.Resources.Resource.NivelDor</option>
                            <option value="1">@View.Resources.Resource.Pouco</option>
                            <option value="2">@View.Resources.Resource.Suportavel</option>
                            <option value="3">@View.Resources.Resource.Forte</option>
                        </select>
                    </div>*@
                <div class="mt-2">
                    <label class="font-weight-bold">@View.Resources.Resource.NivelDor</label>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="pouco" class="btn btn-success click">@View.Resources.Resource.Pouco</button>
                    <button type="button" id="medio" class="btn btn-warning click">@View.Resources.Resource.Suportavel</button>
                    <button type="button" id="alto" class="btn btn-danger click">@View.Resources.Resource.Forte</button>
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@View.Resources.Resource.Cancelar</button>
                <button type="button" class="btn btn-primary" id="botao-salvar">@View.Resources.Resource.Proximo</button>
            </div>

        </div>
    </div>

</div>
<script src="~/Scripts/select2.min.js"></script>
