
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/fonts/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/select2.min.css" />
   
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />

</head>

<body>
    <div class="bg-dark d-flex p-3 px-md-4 mb-3">
        <div class="col-12 text-center">
            <img src="~/Content/Imagens/Logo Lavi.png" width="50" height="50" />

        </div>
    </div>
    <div class="container">
        <input type="text" id="idPaciente" data-id="@ViewBag.Atendimento.Paciente.Id" hidden="hidden" />
        <input type="text" id="idAtendimento" data-id="@ViewBag.Atendimento.Id" hidden="hidden" />

        <h2 class="display-4">@View.Resources.Resource.Ola '@ViewBag.Atendimento.Paciente.Nome'</h2>
                
                    
                    <div class="row"  style="margin-left: 420px">
                        <a id="cabeca" data-toggle="modal" data-target="#modal-sintoma" data-id="1"><span><img src="~/Content/Imagens/Corpos/cabeça.png" /></span></a>
                    </div>
                    <div class="row" style="margin-left:420px">
                        <a class="pescoco" data-toggle="modal" data-target="#modal-sintoma" data-id="2"><img src="~/Content/Imagens/Corpos/pescoço.png" /></a>
                    </div>
                    <div class="row" style="margin-left:230px">
                        <div style="margin-top: 35px">
                            <a class="braco-direito" data-toggle="modal" data-target="#modal-sintoma" data-id="4"><img src="~/Content/Imagens/Corpos/braço direito.png" /></a>
                        </div>
                        <a class="barriga" data-toggle="modal" data-target="#modal-sintoma" data-id="3"><img src="~/Content/Imagens/Corpos/barriga.png" /></a>
                        <div style="margin-top:35px">
                        <a class="braco-esquerdo" data-toggle="modal" data-target="#modal-sintoma" data-id="5"><img src="~/Content/Imagens/Corpos/braço esquerdo.png" /></a>
                        </div>
                    </div>
                    <div class="row" style="margin-left:160px">
                        <div style="margin-right: 110px">
                            <a class="mao-direita" data-toggle="modal" data-target="#modal-sintoma" data-id="6"><img src="~/Content/Imagens/Corpos/mao direita.png" /></a>
                        </div>
                        <a class="genitalia" data-toggle="modal" data-target="#modal-sintoma" data-id="7"><img src="~/Content/Imagens/Corpos/genitalias.png"></a>
                        <div style="margin-left: 90px">
                        <a class="mao-esquerda" data-toggle="modal" data-target="#modal-sintoma" data-id="8"><img src="~/Content/Imagens/Corpos/mao esquerda.png" /></a>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 350px">
                        <a class="perna-direita" data-toggle="modal" data-target="#modal-sintoma" data-id="9"><img src="~/Content/Imagens/Corpos/perna direita.png" /></a>
                        <div style="margin-left:30px">
                        <a class="perna-esquerda" data-toggle="modal" data-target="#modal-sintoma" data-id="10"><img src="~/Content/Imagens/Corpos/perna esquerda.png" /></a>
                            </div>
                    </div>
                    <div class="row" style="margin-left:370px" >
                        <a class="pe-direito" data-toggle="modal" data-target="#modal-sintoma" data-id="11"><img src="~/Content/Imagens/Corpos/pé direito.png" /></a>
                        <div style="margin-left:46px">
                        <a class="pe-esquerdo" data-toggle="modal" data-target="#modal-sintoma" data-id="12"><img src="~/Content/Imagens/Corpos/pé esquerdo.png" /></a>
                        </div>
                    </div>
                </div>
           
        <div class="mt-5">
            <table class="table table-primary table-bordered text-dark" id="tabela-sintoma">
                <thead>
                    <tr class="bg-dark text-white">
                        <td>@View.Resources.Resource.Sintoma</td>
                        <td>@View.Resources.Resource.Acao</td>
                    </tr>
                </thead>

            </table>

        </div>


        <a href="/atendimentoespecial/finalizacadastro" class="btn btn-primary text-white"><i class="fa fa-arrow-right"></i> @View.Resources.Resource.Proximo</a>

        @RenderPage("ModalSintoma.cshtml")
        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/Tema/global/vendor/bootstrap/bootstrap.min.js"></script>
        <script src="~/Scripts/AtendimentoEspecial/ParteCorpoSintoma.js"></script>
        <script src="~/Scripts/select2.min.js"></script>
        <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    </div>
</body>
</html>
