
@{
    ViewBag.Title = "Index";
}
<h2 class="h2 mt-5 mb-5">Atendendo @ViewBag.Atendimento.Id</h2>
<form action="/atendimento/update" method="post">
    <!--Esta div contera o atendente e o medico, quando o atendente abrir nao tera a opção medico-->
    <!--Quando o medico abrir nao tera o atendente-->
    <input type="text" name="id" value="@ViewBag.Atendimento.Id" hidden="hidden" />
    <div class="row">
        <div class="col-12">
            <label for="campo-paciente">Paciente</label>
            <select name="idPaciente" id="campo-paciente" disabled class="form-control border-info">
                @foreach (Model.Paciente paciente in ViewBag.Pacientes)
                {
                    <option value="@paciente.Id">@paciente.Nome</option>
                }
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="campo-data">Data</label>
            <input type="text" value="@ViewBag.Atendimento.DataAtendimento" disabled name="DataAtendimento" id="campo-data" class="form-control border-info" />
        </div>
        <div class="col-6">
            <div>
                <label for="campo-prioridade">Prioridade</label>
                <select name="Prioridade" id="campo-prioridade" class="form-control border-info">
                    <option value="3">Alto</option>
                    <option value="2">Medio</option>
                    <option value="1">Baixo</option>
                </select>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="campo-observacao">Observação</label>
            <textarea class="form-control border-info" id="campo-observacao" name="observacao" maxlength="150"></textarea>
        </div>
    </div>
    @if ((Session["usuarioLogadoPermissao"].ToString() == "3") || (Session["usuarioLogadoPermissao"].ToString() == "4"))
    {

        <div class="row">
            <div class="col-12">
                <label for="campo-tratamento">Tratamento</label>
                <textarea class="form-control border-info" id="campo-tratamento" name="tratamento" maxlength="100"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <label for="campo-encaminhamento">Encaminhamento</label>
                <select name="encaminhamento border-info" id="campo-encaminhamento" class="form-control"></select>
            </div>
        </div>
    }


    <button class="btn btn-success mt-5" type="submit"><i class="fa fa-save"></i>Salvar</button>

</form>


