
@{
    ViewBag.Title = "Index";
}
<h2 class="h2 mt-5 mb-5">Atendendo @ViewBag.Atendimento.Id</h2>
<form action="/atendimento/update" method="post">
    <!--Esta div contera o atendente e o medico, quando o atendente abrir nao tera a opção medico-->
    <!--Quando o medico abrir nao tera o atendente-->
    <input type="text" name="id" value="@ViewBag.Atendimento.Id" hidden="hidden" />
    <div class="row">
        <div class="col-12">
            <label for="campo-paciente">Paciente</label>
            <select name="idPaciente" id="campo-paciente" disabled class="form-control border-info">
                <option selected="selected" disabled="disabled" value="@ViewBag.Paciente.Id">@ViewBag.Paciente.Nome</option>
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="campo-data">Data</label>
            <input type="text" value="@ViewBag.Atendimento.DataAtendimento" disabled name="DataAtendimento" id="campo-data" class="form-control border-info" />
        </div>
        <div class="col-6">
            <div>
                <label for="campo-prioridade">Prioridade</label>
                <select name="Prioridade" id="campo-prioridade" class="form-control border-info">
                    <option value="3">Alto</option>
                    <option value="2">Medio</option>
                    <option value="1">Baixo</option>
                </select>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="campo-observacao">Observação</label>
            <textarea class="form-control border-info" id="campo-observacao" name="observacao" maxlength="150"></textarea>
        </div>
    </div>
    @if ((Session["usuarioLogadoPermissao"].ToString() == "3") || (Session["usuarioLogadoPermissao"].ToString() == "4"))
    {
        if (ViewBag.Paciente.Lingua != 0)
        {
            <a class="btn btn-primary float-right" href="/atendimentoespecial/partecorpoespecial?idAtendimento=@ViewBag.Atendimento.Id"><i class="fa fa-plus"></i> Adicionar Sintomas</a>
            <div class="row">
                <div class="col-12">
            <table class="table table-primary table-hover table-bordered text-dark mt-4">
                <thead class="bg-dark">
                    <tr>
                        <td>Sintoma</td>
                    </tr>
                </thead>
                <tbody></tbody>
                @foreach (Model.Sintoma Sintoma in ViewBag.Sintomas)
                {
                    <tr>
                        <td>@Sintoma.Nome</td>
                    </tr>
                }
            </table>

                </div>
            </div>
        }

        <div class="row">
            <div class="col-12">
                <label for="campo-tratamento">Tratamento</label>
                <textarea class="form-control border-info" id="campo-tratamento" name="tratamento" maxlength="100"></textarea>
            </div>
        </div>

    }





    <button class="btn btn-success mt-5" type="submit"><i class="fa fa-save"></i>Salvar</button>

</form>


