
@{
    ViewBag.Title = "Index";
}

<h2 class="display-4">Atendimentos Triagem</h2>

<table class="table table-primary table-hover table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td hidden>Id</td>
            <td>Paciente</td>
            <td>Prioridade</td>
            <td>Observação</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Atendimento atendimento in ViewBag.Atendimentos)
        {
            if (atendimento.Prioridade == 3)
            {
                <tr class="bg-red-500">
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td>@atendimento.Prioridade</td>
                    <td>@atendimento.Observacao </td>
                    <td>
                        <a class="btn btn-primary" href="/atendimento/alterar?id=@atendimento.Id?carco=2">Atender</a>
                    </td>
                </tr>
            }
            else if (atendimento.Prioridade == 2)
            {
                <tr class="bg-yellow-500">
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td>@atendimento.Prioridade</td>
                    <td>@atendimento.Observacao </td>
                    <td>
                        <a class="btn btn-primary" href="/atendimento/alterar?id=@atendimento.Id?carco=2">Atender</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td>@atendimento.Prioridade</td>
                    <td>@atendimento.Observacao </td>
                    <td>
                        <a class="btn btn-primary" href="/atendimento/alterar?id=@atendimento.Id?carco=2">Atender</a>
                    </td>
                </tr>

            }

        }
    </tbody>


</table>

