
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-9">
        <h2 class="h2">Atendimentos abertos: @ViewBag.Cargo</h2>
    </div>
    <div class="col-3">
        <a href="/atendimento/escolha" class="btn btn-dark float-right mt-30"><i class="fa fa-plus"></i> Adicionar atendimento</a>
    </div>
</div>
<table class="table table-primary table-hover table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td>Paciente</td>
            <td>Prioridade</td>
            <td>Lingua</td>
            <td width="220px">Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Atendimento atendimento in ViewBag.Atendimentos)
        {
            if (atendimento.Paciente.Lingua != 1)
            {
                <tr>
                    <td>@atendimento.Paciente.Nome</td>

                    <!-- #region Prioridade-->
                    @if (atendimento.Prioridade == 0)
                    {
                        <td><span class="badge badge-dark">Não definido</span></td>
                    }
                    else
                    {
                        if (atendimento.Prioridade == 3)
                        {
                            <td><span class="badge badge-danger">Alto</span></td>

                        }
                        else
                        if (atendimento.Prioridade == 2)
                        {
                            <td><span class="badge badge-warning">Medio</span></td>

                        }
                        else
                        if (atendimento.Prioridade == 1)
                        {
                            <td><span class="badge badge-primary">Baixo</span></td>

                        }
                    }

                    <!--#endregion-->
                    
                    <!--#region Lingua-->
                    @if (atendimento.Paciente.Lingua != 1)
                    {
                        <td><span class="badge badge-danger">Estrangeiro</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-primary">Portugues</span></td>
                    }


                    <!--#endregion-->

                    <td>
                        <a class="btn btn-info" href="/atendimento/alterar?id=@atendimento.Id"><i class="fa fa-bookmark"></i> Atender</a>
                    </td>
                </tr>
            }
            else if (atendimento.Prioridade == 3)
            {
                <tr>
                    <td>@atendimento.Paciente.Nome</td>
                    <td><span class="badge badge-danger">Alto</span></td>

                    <!--#region Lingua-->
                    @if (atendimento.Paciente.Lingua != 1)
                    {
                        <td><span class="badge badge-primary">Estrangeiro</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-danger">Portugues</span></td>
                    }

                    <!--#endregion-->
                   

                    <td>
                        <a class="btn btn-info" href="/atendimento/alterar?id=@atendimento.Id"><i class="fa fa-bookmark"></i> Atender</a>
                    </td>
                </tr>
            }
            else if (atendimento.Prioridade == 2)
            {
                <tr>
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td><span class="badge badge-warning">Medio</span></td>

                    <!--#region Lingua-->
                    @if (atendimento.Paciente.Lingua != 1)
                    {
                        <td><span class="badge badge-danger">Estrangeiro</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-primary">Portugues</span></td>
                    }
                    <!--#endregion-->
                    

                    <td>
                        <a class="btn btn-info" href="/atendimento/alterar?id=@atendimento.Id">
                            <i class="fa fa-bookmark"></i> Atender
                        </a>
                    </td>
                </tr>
            }
            else if (atendimento.Prioridade == 1)
            {
                <tr>
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td><span class="badge badge-primary">Baixo</span></td>

                    <!--#region Lingua-->
                    @if (atendimento.Paciente.Lingua != 1)
                    {
                        <td><span class="badge badge-danger">Estrangeiro</span></td>

                    }
                    else
                    {
                        <td><span class="badge badge-primary">Portugues</span></td>
                    }

                    <!--#endregion-->
                  

                    <td>
                        <a class="btn btn-info" href="/atendimento/alterar?id=@atendimento.Id"><i class="fa fa-bookmark"></i> Atender</a>
                    </td>
                </tr>

            }
            else if (atendimento.Prioridade == 0)
            {
                <tr>
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td><span class="badge badge-dark">Não definido</span></td>

                    <!--#region Lingua-->
                    @if (atendimento.Paciente.Lingua != 1)
                    {
                        <td><span class="badge badge-danger">Estrangeiro</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-primary">Portugues</span></td>
                    }
                    <!--#endregion-->

                    <td>
                        <a class="btn btn-info" href="/atendimento/alterar?id=@atendimento.Id"><i class="fa fa-bookmark"></i> Atender</a>
                    </td>
                </tr>

            }

        }
    </tbody>


</table>

