
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-9">
        <h2 class="h2">Atendimentos abertos: @ViewBag.Cargo</h2>
    </div>
    <div class="col-3">
        <a href="/atendimento/cadastro" class="btn btn-dark float-right mt-40"><i class="fa fa-plus"></i> Adicionar atendimento</a>
    </div>
</div>
<table class="table table-primary table-hover table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td>Paciente</td>
            <td>Prioridade</td>
            <td>Observação</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Atendimento atendimento in ViewBag.Atendimentos)
        {
            if (atendimento.Prioridade == 3)
            {
                <tr class="bg-red-500">
                    <td>@atendimento.Paciente.Nome</td>
                    <td>@atendimento.Prioridade</td>
                    <td>@atendimento.Observacao </td>
                    <td>
                        <a class="btn btn-primary" href="/atendimento/alterar?id=@atendimento.Id?cargo=2">Atender</a>
                    </td>
                </tr>
            }
            else if (atendimento.Prioridade == 2)
            {
                <tr class="bg-yellow-500">
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td>@atendimento.Prioridade</td>
                    <td>@atendimento.Observacao </td>
                    <td>
                        <a class="btn btn-primary" href="/atendimento/alterar?id=@atendimento.Id?cargo=2">Atender</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td hidden>@atendimento.Id</td>
                    <td>@atendimento.Paciente.Nome</td>
                    <td>@atendimento.Prioridade</td>
                    <td>@atendimento.Observacao </td>
                    <td>
                        <a class="btn btn-primary" href="/atendimento/alterar?id=@atendimento.Id?cargo=2">Atender</a>
                    </td>
                </tr>

            }

        }
    </tbody>


</table>

