
@{
    ViewBag.Title = "PacienteDocumentos";
}

<div class="row">
    <div class="col-10">
        <h2 class="h2 mt-5 mb-5">Paciente  '@ViewBag.Paciente.Nome'</h2>
    </div>
    <div class="col-2">
        <button id="btnPrint4" type="button" class="btn btn-dark float-right"><i class="fa fa-print"></i></button>
    </div>
</div>

<input type="text" name="id" value="@ViewBag.Atendimento.Id" hidden="hidden" />
<div id="printThis">
    <div printSection>
        <div>
            <div class="row mt-10 font-weight-bold">
                <div class="col-6">
                    Nome
                </div>
                <div class="col-6">
                    Data de Atendimento
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="campo-nome" value="@ViewBag.Paciente.Nome" disabled="disabled" name="nome" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                <input id="campo-lingua" value="@ViewBag.Atendimento.DataAtendimento" disabled="disabled" name="lingua" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>

        <div class="row font-weight-bold">
            <div class="col-6">
                Posto
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input id="campo-posto" value="@ViewBag.Atendimento.Posto.Nome" disabled="disabled" name="posto" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>
        <div>
            <div class="row mt-10 font-weight-bold">

                <div class="col-12">
                    Língua
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                @if (ViewBag.Paciente.Lingua == 1)
                {
                    <input id="campo-lingua" value="Português" disabled="disabled" name="lingua" type="text" required="" class="form-control border-info text-dark" />

                }
                else if (ViewBag.Paciente.Lingua == 2)
                {
                    <input id="campo-lingua" value="Criolo Haitiano" disabled="disabled" name="lingua" type="text" required="" class="form-control border-info text-dark" />

                }
                else if (ViewBag.Paciente.Lingua == 3)
                {
                    <input id="campo-lingua" value="Francês" disabled="disabled" name="lingua" type="text" required="" class="form-control border-info text-dark" />

                }
                else
                {
                    <input id="campo-lingua" value="Não definido" disabled="disabled" name="lingua" type="text" required="" class="form-control border-info text-dark" />

                }

            </div>
        </div>

        <div class="row font-weight-bold">
            <div class="col-6">
                Idade
            </div>
            <div class="col-6">
                Sexo
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="campo-idade" value="@ViewBag.Paciente.Idade" disabled="disabled" name="idade" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                @if (ViewBag.Paciente.Sexo == false)
                {
                    <input id="campo-sexo" value="Masculino" disabled="disabled" name="sexo" type="text" required="" class="form-control border-info text-dark" />

                }
                else
                {
                    <input id="campo-sexo" value="Feminino" disabled="disabled" name="sexo" type="text" required="" class="form-control border-info text-dark" />
                }
            </div>
        </div>

        <div class="row font-weight-bold">
            <div class="col-6">
                CPF
            </div>
            <div class="col-6">
                RNE
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="campo-cpf" value="@ViewBag.Paciente.Cpf" disabled="disabled" name="cpf" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                <input id="campo-rne" value="@ViewBag.Paciente.Rne" disabled="disabled" name="rne" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>
        <div class="row font-weight-bold">
            <div class="col-6">
                CEP
            </div>
            <div class="col-6">
                Endereço
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="campo-cep" value="@ViewBag.Paciente.Cep" disabled="disabled" name="cep" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                <input id="campo-endereco" value="@ViewBag.Paciente.Endereco" disabled="disabled" name="endereco" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>
        <div class="row font-weight-bold">
            <div class="col-6">
                Passaporte
            </div>
            <div class="col-6">
                Telefone
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="campo-passaporte" value="@ViewBag.Paciente.Passaporte" disabled="disabled" name="passaporte" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                <input id="campo-telefone" disabled="disabled" value="@ViewBag.Paciente.Telefone" name="telefone" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>
        <div class="row font-weight-bold">
            <div class="col-6">
                Pressão
            </div>
            <div class="col-6">
                Peso
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="campo-pressao" value="@ViewBag.Paciente.Pressao" disabled="disabled" name="pressao" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                <input id="campo-peso" value="@ViewBag.Paciente.Peso" disabled="disabled" name="peso" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>
        <div class="row font-weight-bold">
            <div class="col-6">
                Altura
            </div>
            <div class="col-6">
                Temperatura
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <input id="campo-altura" value="@ViewBag.Paciente.Altura" disabled="disabled" name="altura" type="text" required="" class="form-control border-info text-dark" />
            </div>
            <div class="col">
                <input id="campo-temperatura" value="@ViewBag.Paciente.Temperatura" disabled="disabled" name="temperatura" type="text" required="" class="form-control border-info text-dark" />
            </div>
        </div>

    </div>
    @if (ViewBag.Paciente.Lingua != 1)
    {

        <div class="row">
            <div class="col-12">
                <table class="table table-secondary mt-4">
                    <thead class="bg-secondary text-dark font-weight-bold">
                        <tr>
                            <td>Sintoma</td>
                        </tr>
                    </thead>
                    <tbody></tbody>

                    @for (int i = 0; i < ViewBag.Sintomas.Count; i++)
                    {
                        if (ViewBag.NivelDor[i].NiverDor == 2)
                        {
                            <tr>
                                <td>@ViewBag.Sintomas[i].Nome</td>
                            </tr>
                        }
                        else if (ViewBag.NivelDor[i].NiverDor == 3)
                        {
                            <tr>
                                <td>@ViewBag.Sintomas[i].Nome</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@ViewBag.Sintomas[i].Nome</td>
                            </tr>
                        }
                    }
                </table>

            </div>
        </div>
    }
    <div class="col-6">

    </div>
</div>

<script src="~/Scripts/Paciente/Imprimir.js"></script>
