
@{
    ViewBag.Title = "Alterar";
}
<h2 class="display-4">Alterando '@ViewBag.Encaminhamento.Descricao'</h2>

<form action="/encaminhamento/update" method="post">
    <input type="hidden" name="id" id="id" value="@ViewBag.Encaminhamento.Id" />

    <label class="font-weight-bold">Posto</label>
    <select name="idposto" id="campo-posto" class="form-control border-info">
        @foreach (Model.Posto posto in ViewBag.Postos)
        {
            <option disabled="disabled">Selecione um posto</option>
            if (posto.Id == ViewBag.Encaminhamento.IdPosto)
            {
                <option selected="selected" value="@posto.Id">@posto.Nome</option>
            }
            else
            {
                <option value="@posto.Id">@posto.Nome</option>
            }
        }
    </select>

        <label class="font-weight-bold" for="encaminhamento-descricao">Descrição</label>
        <input class="form-control border-info" id="encaminhamento-descricao" name="descricao" value="@ViewBag.Encaminhamento.Descricao" />

        <label class="font-weight-bold" for="encaminhamento-traducaocriolo">Tradução Crioulo</label>
        <input class="form-control border-info" id="encaminhamento-traducaocriolo" name="traducaocriolo" value="@ViewBag.Encaminhamento.TraducaoCriolo" />

        <label class="font-weight-bold" for="encaminhamento-traducaofrances">Tradução Francês</label>
        <input class="form-control border-info" id="encaminhamento-traducaofrances" name="traducaofrances" value="@ViewBag.Encaminhamento.TraducaoFrances" />

        <label class="font-weight-bold" for="encaminhamento-local">Local</label>
        <input class="form-control border-info" id="encaminhamento-local" name="local" value="@ViewBag.Encaminhamento.Local" />

    <button type="submit" class="btn btn-success float-right mt-20"><i class="fa fa-save"></i> Salvar</button>
</form>
