
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-6">
        <h3 class="h2">Encaminhamentos</h3>
    </div>
    <div class="col-6">
        <a href="/encaminhamento/Cadastrar" class="btn btn-dark float-right mt-40"><i class="fa fa-plus"></i> Novo Encaminhamento</a>
    </div>
</div>

<table class="table table-primary table-hover table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td>Posto</td>
            <td>Descrição</td>
            <td>Tradução em Crioulo</td>
            <td>Tradução em Francês</td>
            <td>Local</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Encaminhamento encaminhamento in ViewBag.Encaminhamentos)
        {
            <tr>
                <td>@encaminhamento.Posto.Nome</td>
                <td>@encaminhamento.Descricao</td>
                <td>@encaminhamento.TraducaoCriolo</td>
                <td>@encaminhamento.TraducaoFrances</td>
                <td>@encaminhamento.Local</td>
                <td>
                    <a class="btn btn-primary ml-10" href="/encaminhamento/alterar?id=@encaminhamento.Id"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger ml-10" href="/encaminhamento/apagar?id=@encaminhamento.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>