
@{
    ViewBag.Title = "Alterar";
}

<h2 class="display-4">Alterando cidade '@ViewBag.Cidade.Nome'</h2>

<form method="post" action="/cidade/update">
    <input type="hidden" name="id" value="@ViewBag.Cidade.Id" />

    <label class="font-weight-bold" for="campo-nome">Nome da Cidade</label>
    <input type="text" name="nome" class="form-control border-info" id="campo-nome" value="@ViewBag.Cidade.Nome" />

    <label class="font-weight-bold" form="campo-estado">Estado</label>
    <select class="form-control border-info" name="idEstado">
        <option disabled="disabled" selected="selected">Selecione um estado</option>
        @foreach (Model.Estado estado in ViewBag.Estados)
        {
            if (estado.Id == ViewBag.Cidade.IdEstado)
            {
                <option value="@estado.Id" selected="selected">@estado.Nome</option>
            }
            else
            {
                <option value="@estado.Id">@estado.Nome</option>
            }
        }
    </select>


    <button type="submit" class="btn btn-success mt-20"><i class="fa fa-save"></i> Salvar</button>
</form>

