
@{
    /**/

    ViewBag.Title = "Alterar";
}

<form action="/paciente/update" method="post">

    <h2 class="h2 mt-5 mb-5">Alterando paciente '@ViewBag.Paciente.Nome'</h2>

    <div class="row">
        <div class="col-12">
            <label class="font-weight-bold" for="campo-posto">Posto<a class="text-danger">*</a></label>
            <select name="idPosto" id="campo-posto" required class="form-control border-info">
                <option selected="" disabled="disabled">Selecione o posto onde está</option>
                @foreach (Model.Posto posto in ViewBag.Postos)
                {
                    if (posto.Id == ViewBag.Paciente.IdPosto)
                    {
                        <option value="@posto.Id" selected="selected">@posto.Nome</option>
                    }
                    else
                    {
                        <option value="@posto.Id">@posto.Nome</option>
                    }
                }
            </select>
        </div>
    </div>
    <input type="text" hidden="hidden" value="@ViewBag.Paciente.Id" name="Id" />

    <div class="row">
        <!-- AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII-->
        <div class="col-6">
            <label class="font-weight-bold" for="campo-nome">Nome<a class="text-danger">*</a></label>
            <input type="text" id="campo-nome" name="nome" class="form-control border-info" maxlength="100" required value="@ViewBag.Paciente.Nome">
        </div>

        <div class="col-3">
            <label class="font-weight-bold" for="campo-sexo">Sexo<a class="text-danger">*</a></label>
            <select id="campo-sexo" name="sexo" class="form-control border-info" required>
                @if (ViewBag.Paciente.Sexo == true)
                {
                    <option value="true" selected="selected">Feminino</option>
                    <option value="false">Masculino</option>

                }
                else
                {
                    <option value="true">Feminino</option>
                    <option value="false" selected="selected">Masculino</option>

                }
            </select>
        </div>
        <div class="col-3">
            <label class="font-weight-bold" for="campo-posto">Lingua<a class="text-danger">*</a></label>
            <select class="form-control border-info" name="lingua" required>
                @if (ViewBag.Paciente.Lingua == 0)
                {
                    <option value="0" selected="selected">Português Brasileiro</option>
                    <option value="1">Haitiano</option>
                    <option value="2">Francês</option>

                }
                else if (ViewBag.Paciente.Lingua == 1)
                {
                    <option value="0">Português Brasileiro</option>
                    <option value="1" selected="selected">Haitiano</option>
                    <option value="2">Francês</option>
                }
                else
                {
                    <option value="0">Português Brasileiro</option>
                    <option value="1">Haitiano</option>
                    <option value="2" selected="selected">Francês</option>
                }
            </select>
        </div>


    </div>

    <div class="row">

        <div class="col-4">
            <label class="font-weight-bold" for="campo-rne">RNE</label>
            <input type="text" id="campo-rne" name="rne" maxlength="50" class="form-control border-info" value="@ViewBag.Paciente.Rne" />
        </div>

        <div class="col-4">
            <label class="font-weight-bold" for="campo-cep">CEP</label>
            <input type="text" id="campo-cep" name="cep" maxlength="9" class="form-control border-info" value="@ViewBag.Paciente.Cep" />
        </div>


        <div class="col-4">
            <label class="font-weight-bold" for="campo-endereco">Endereço</label>
            <input type="text" id="campo-endereco" name="endereco" class="form-control border-info" maxlength="100" value="@ViewBag.Paciente.Endereco" />
        </div>


    </div>
    <!------------------------------>
    <div class="row">


        <div class="col-3">
            <label class="font-weight-bold" for="campo-idade">Idade<a class="text-danger">*</a></label>
            <input type="number" id="campo-idade" name="idade" maxlength="3" required class="form-control border-info" value="@ViewBag.Paciente.Idade" />
        </div>


        <div class="col-3">
            <label class="font-weight-bold" for="campo-telefone">Telefone</label>
            <input type="tel" id="campo-telefone" name="telefone" maxlength="14" class="form-control border-info" value="@ViewBag.Paciente.Telefone" />
        </div>

        <div class="col-3">
            <label class="font-weight-bold" for="campo-passaporte">Passaporte</label>
            <input type="text" id="campo-passaporte" name="passaporte" maxlength="50" class="form-control border-info" value="@ViewBag.Paciente.Passaporte" />
        </div>

        <div class="col-3">
            <label class="font-weight-bold" for="campo-cpf">CPF</label>
            <input type="text" maxlength="15" id="campo-cpf" name="cpf" class="form-control border-info" value="@ViewBag.Paciente.Cpf" />
        </div>

    </div>

    @if (Session["usuarioLogadoPermissao"].ToString() != "1")
    {
        <div class="row">
            <div class="col-3">
                <label class="font-weight-bold" for="campo-pressao">Pressão</label>
                <input type="text" id="campo-pressao" name="pressao" class="form-control border-info" maxlength="100" value="@ViewBag.Paciente.Pressao" />
            </div>

            <div class="col-3">
                <label class="font-weight-bold" for="campo-peso">Peso</label>
                <input type="text" id="campo-peso" name="peso" class="form-control border-info" value="@ViewBag.Paciente.Peso" />
            </div>

            <div class="col-3">
                <label class="font-weight-bold" for="campo-altura">Altura</label>
                <input type="text" id="campo-altura" name="altura" class="form-control border-info" value="@ViewBag.Paciente.Altura" />
            </div>

            <div class="col-3">
                <label class="font-weight-bold" for="campo-altura">Temperatura</label>
                <input type="text" id="campo-altura" name="temperatura" class="form-control border-info" value="@ViewBag.Paciente.Temperatura" />
            </div>

        </div>
    }
    <button type="submit" class="btn btn-success float right mt-20"><i class="fa fa-save"></i> Salvar</button>
</form>

@*<script src="~/Scripts/Paciente/PacienteSript.js"></script>*@


