
@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>
<div class="container container-fluid">


    <div class="row">
        <div class="col-12">
            <div class="bg-light navbar-nav rounded-bottom">
                <h3 class="align-baseline mb-3 mt-2 p-3 text-info">Editando paciente</h3>
            </div>
        </div>
    </div>

    <form method="post" action="/paciente/update">

        <a href="/paciente/index" class="btn btn-danger">Lista de Pacientes</a>

        <input type="hidden" name="id" value="@ViewBag.Paciente.Id" />

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Nome do Paciente</label>
                    <input type="text" name="nome" class="form-control" id="campo-nome" value="@ViewBag.Paciente.Nome" />
                </div>
            </div>
        <div class="col-4">
            <label for="campo-cep">CEP</label>
            <input type="text" id="campo-cep" name="cep" maxlength="9" class="form-control" value="ViewBag.Paciente.Cep" />
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label form="campo-posto">Posto</label>
                    <select class="form-control" name="idPosto">
                        <option disabled="disabled" selected="selected">Selecione um posto</option>
                        @foreach (Model.Posto posto in ViewBag.Postos)
                        {
                            if (posto.Id == ViewBag.Paciente.IdPosto)
                            {
                                <option value="@posto.Id" selected="selected">@posto.Nome</option>
                            }
                            else
                            {
                                <option value="@posto.Id">@posto.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </form>

</div>

