
@{
    ViewBag.Title = "Alterar";
}

<h2 class="display-4">Alterando posto '@ViewBag.Posto.Nome'</h2>

<form method="post" action="/posto/update">

    <input type="hidden" name="id" value="@ViewBag.Posto.Id" />

    <div class="row">
        <div class="col-12">
            <label class="font-weight-bold" for="campo-nome">Nome do Posto</label>
            <input type="text" name="nome" class="form-control border-info" id="campo-nome" value="@ViewBag.Posto.Nome" />
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <label class="font-weight-bold" for="campo-cep">CEP</label>
            <input type="text" name="cep" class="form-control border-info" id="campo-cep" value="@ViewBag.Posto.Cep" />
        </div>

        <div class="col-8">
            <label class="font-weight-bold" form="campo-cidade">Cidade</label>
            <select class="form-control border-info" name="idCidade">
                <option disabled="disabled" selected="selected">Selecione uma cidade</option>
                @foreach (Model.Cidade cidade in ViewBag.Cidades)
                {
                    if (cidade.Id == ViewBag.Posto.IdCidade)
                    {
                        <option value="@cidade.Id" selected="selected">@cidade.Nome</option>
                    }
                    else
                    {
                        <option value="@cidade.Id">@cidade.Nome</option>
                    }
                }
            </select>
        </div>
    </div>


    <button type="submit" class="btn btn-success mt-15"><i class="fa fa-save"></i> Salvar</button>
</form>


