
@{
    ViewBag.Title = "Imigrante";
}
<div>
    <h2 class="text-dark">@ViewBag.Funcionario.Nome por favor leia!</h2>
    <p class="lead text-justify text-dark">
        Para começar mostre os dois paragrafos abaixo para o paciente, em seguida entregue-o uma senha. Caso não houver fila abra um atendimento em seguida.
    <p class="lead text-justify text-dark">
        Depois de ser chamado, acompanhanhe-o durante a consulta por esse sistema.
        Em caso de duvidas contate o suporte ou o adiministrador do sistema em seu posto. O uso de tradutores online e dicionarios também é altamente recomendado.
    </p>
    <a class="btn btn-primary" href="/atendimentoespecial"> Atendimento especial</a>
</div>
<br /> <br />

<div>

    <h2 class="text-dark"><strong>Bonjou</strong>  <i class="fa fa-smile-o"></i> </h2>
    <p class="lead text-justify text-dark">
        Ou te rive inite sa a sante, @ViewBag.Funcionario.Posto.Nome. Non mwen se @ViewBag.Funcionario.Nome  ak mwen isit la ede ou.
    </p>

    <p class="lead text-justify text-dark">
        Pou kòmanse, tanpri pran modpas la ki pral bay pa resepsyonis la epi rete tann yo dwe rele nan nimewo la.
    </p>
    <p class="lead text-justify text-dark">
        Yon fwa yo rele, ou pral akonpaye ak bay enstriksyon pli lwen pandan konsiltasyon ak sistèm sa a.

    </p>
</div>

<br /> <br />
<div>

    <h2 class="text-dark"><strong> Bonjour </strong> <i class="fa fa-smile-o"></i></h2>

    <p class="lead text-justify text-dark">
        Vous êtes arrivé dans cette unité de santé, @ViewBag.Funcionario.Posto.Nome. Je m'appelle @ViewBag.Funcionario.Nome et je suis là pour vous aider.
    </p>

    <p class="lead text-justify text-dark">
        Pour commencer, veuillez prendre le mot de passe qui sera donné par la réceptionniste et attendez que le numéro vous appelle.

    </p>
    <p class="lead text-justify text-dark">

        Une fois appelé, vous serez accompagné et recevrez des instructions supplémentaires lors de la consultation avec ce système.
    </p>
</div>

