
@{
    ViewBag.Title = "Imigrante";
}
<div>
    <h2 class="text-dark">@ViewBag.Funcionario.Nome por favor leia!</h2>
    <p class="lead text-justify text-dark">
        Para começar mostre os dois paragrafos abaixo para o paciente, em seguida entregue-o uma senha. Caso não houver fila abra um atendimento em seguida.
    <p class="lead text-justify text-dark">
        Depois de ser chamado, acompanhanhe-o durante a consulta por esse sistema.
        Em caso de duvidas contate o suporte ou o adiministrador do sistema em seu posto. O uso de tradutores online e dicionarios também é altamente recomendado.
    </p>
    <a class="btn btn-primary" href="/atendimentoespecial"> Atendimento especial</a>
</div>
<br /> <br />

<div>
    <!--Instruções em Haitiano-->
    <h2 class="text-dark"><strong>Bonjou</strong>  <i class="fa fa-smile-o"></i> </h2>
    <p class="lead text-justify text-dark">
        Ou te rive inite sa a sante, @ViewBag.Funcionario.Posto.Nome. Non mwen se @ViewBag.Funcionario.Nome  ak mwen isit la ede ou.
    </p>

    <p class="lead text-justify text-dark">
        Pou kòmanse, tanpri pran modpas la ki pral bay pa resepsyonis la epi rete tann yo dwe rele nan nimewo la.
    </p>
    <p class="lead text-justify text-dark">
        Yon fwa yo rele, ou pral akonpaye ak bay enstriksyon pli lwen pandan konsiltasyon ak sistèm sa a.

    </p>
    <h3 class="text-dark">Ki jan swen nan Brezil travay?</h3>
    <p class="lead text-justify text-dark">Nan Brezil, swen sante ap fè nan pye, wè.</p>
    <p class="lead text-justify text-dark">1º  Er ou ap te sèvi nan de baz sante inite w la,</p>
    <p class="lead text-justify text-dark">2º En sou ou, ou menm te endike Gaspar oliklinik pou yon pwofesyonèl wo nivo, tankou yon okte zo ak misk,</p>
    <p class="lead text-justify text-dark">3º Si toujou pwoblèm ou toujou pa rezoud, ou ka fè di nan Gaspar, ni lopital al nan yon lopital nan Blumenau.</p>

</div>

<br /> <br />
<div>
    <!--Instruções em Francês-->
    <h2 class="text-dark"><strong> Bonjour </strong> <i class="fa fa-smile-o"></i></h2>

    <p class="lead text-justify text-dark">
        Vous êtes arrivé dans cette unité de santé, @ViewBag.Funcionario.Posto.Nome. Je m'appelle @ViewBag.Funcionario.Nome et je suis là pour vous aider.
    </p>

    <p class="lead text-justify text-dark">
        Pour commencer, veuillez prendre le mot de passe qui sera donné par la réceptionniste et attendez que le numéro vous appelle.

    </p>
    <p class="lead text-justify text-dark">

        Une fois appelé, vous serez accompagné et recevrez des instructions supplémentaires lors de la consultation avec ce système.
    </p>
    <h3 class="text-dark">Comment fonctionnent les soins au Brésil?</h3>
    <p class="lead text-justify text-dark"> Au Brésil, les soins de santé se font par étapes, voir:</p>
    <p class="lead text-justify text-dark">1º Vous êtes soigné dans le service de santé de base;</p>
    <p class="lead text-justify text-dark">2ºSelon votre situation, vous êtes référé à la polyclinique Gaspar par un professionnel spécialisé, tel qu'un orthopédiste;</p>
    <p class="lead text-justify text-dark">3º Si votre problème n'est toujours pas résolu, vous pouvez être dirigé vers un hôpital Gaspar ou un hôpital de Blumenau.</p>
</div>

