
@{
    ViewBag.Title = "Alterar";
}

<div class="row">
    <div class="col-5">
        <form action="/sintoma/update" method="post">
            <input type="hidden" name="id" id="id" value="@ViewBag.Sintoma.Id" />
            <div>
                <label for="campo-partecorpo">Partes do Corpo</label>
                <select name="partecorpo" id="campo-partecorpo" class="form-control">
                    @foreach (Model.ParteCorpo partecorpo in ViewBag.PartesCorpo)
                    {
                        <option value="@partecorpo.Id">@partecorpo.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="sintoma-nome">Sintoma</label>
                <textarea class="form-control" id="sintoma-nome" name="nome">@ViewBag.Sintoma.Nome</textarea>
            </div>
            <div class="form-group">
                <label for="sintoma-traducaocriolo">Sintoma Tradução Crioulo</label>
                <textarea class="form-control" id="sintoma-traducaocriolo" name="traducaocriolo">@ViewBag.Sintoma.TraducaoCriolo</textarea>
            </div>
            <div class="form-group">
                <label for="sintoma-traducaofrances">Sintoma Tradução Francês</label>
                <textarea class="form-control" id="sintoma-traducaofrances" name="traducaofrances">@ViewBag.Sintoma.TraducaoFrances</textarea>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>