@{
    ViewBag.Title = "Alterar";
}

<h2 class="h2">Alterando Sintoma @ViewBag.Sintoma.Nome</h2>

<form action="/sintoma/update" method="post">
    <input type="hidden" name="id" id="id" value="@ViewBag.Sintoma.Id" />
    <div>
        <label class="font-weight-bold" for="campo-partecorpo">Partes do Corpo<a class="text-danger">*</a></label>
        <select name="idpartecorpo" id="campo-partecorpo" class="form-control border-info">
            @foreach (Model.ParteCorpo partecorpo in ViewBag.PartesCorpo)
            {
                if (partecorpo.Id == ViewBag.Sintoma.IdParteCorpo)
                {
                    <option selected="selected" value="@partecorpo.Id">@partecorpo.Nome</option>
                }
                else
                {
                    <option value="@partecorpo.Id">@partecorpo.Nome</option>
                }
            }
        </select>
    </div>


    <div class="row">

        <div class="col-4">
            <label class="font-weight-bold" for="sintoma-nome">Sintoma<a class="text-danger">*</a></label>
            <input class="form-control border-info" id="sintoma-nome" name="nome" required=""
                   value=@ViewBag.Sintoma.Nome />
        </div>

        <div class="col-4">
            <label class="font-weight-bold" for="sintoma-traducaocriolo">Sintoma Tradução em Crioulo<a class="text-danger">*</a></label>
            <input type="text" class="form-control border-info" id="sintoma-traducaocriolo" name="traducaocriolo" required=""
                   value=@ViewBag.Sintoma.TraducaoCriolo />
        </div>

        <div class="col-4">
            <label class="font-weight-bold" for="sintoma-traducaofrances">Tradução em Francês<a class="text-danger">*</a></label>
            <input class="form-control border-info" id="sintoma-traducaofrances" name="traducaofrances" required=""
                   value=@ViewBag.Sintoma.TraducaoFrances />
        </div>
    </div>


    <button type="submit" class="btn btn-success mt-10">
   <i class="fa fa-save"></i> Salvar</button>
</form>
