
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-9">
        <h3 class="display-4">Lista de Sintomas</h3>
    </div>
    <div class="col-3">
        <a href="/sintoma/Cadastrar" class="btn btn-dark float-right mt-30"><i class="fa fa-plus"></i> Novo Sintoma</a>
    </div>
</div>

<table class="table table-primary table-hover table-bordered text-dark">
    <thead class="bg-dark">
        <tr>
            <td hidden>Código</td>
            <td>Sintoma</td>
            <td>Parte Corpo</td>
            <td>Tradução Crioulo</td>
            <td>Tradução Francês</td>
            <td width="200px">Ação</td >
        </tr>
    </thead>
    <tbody class="font-weight-bold">
        @foreach (Model.Sintoma sintoma in ViewBag.Sintomas)
        {
            <tr>
                <td hidden>@sintoma.Id</td>
                <td>@sintoma.Nome</td>
                <td>@sintoma.ParteCorpo.Nome</td>
                <td>@sintoma.TraducaoCriolo</td>
                <td>@sintoma.TraducaoFrances</td>
                <td>
                    <a class="btn btn-primary" href="/sintoma/alterar?id=@sintoma.Id"><i class="fa fa-edit"></i> Editar</a>
                    <a class="btn btn-danger" href="/sintoma/apagar?id=@sintoma.Id"><i class="fa fa-trash"></i>Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

